<section class="section--subscribe">
  <div class="container container--content">
    <h3 class="u-alignCenter">Stay in touch</h3>
    <p>
      Hi, I'm <a href="{{ site.baseurl }}an-effective-software-developer/">Giordano Scalzo</a>. I'm a software developer, focused in iOS and Swift: I love to put magic in the apps. You can check my code on <a href="http://github.com/gscalzo" target="_blank">Github</a> and you can contact me at <a href="http://twitter.com/giordanoscalzo" target="_blank">@giordanoscalzo</a>. 
    </p>    
    <hr/>
  </div>
</section>
